<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.note.function.mapper.DataSourceMapper">

    <select id="getUser" resultType="java.lang.String">
        select `name` from `t_user` limit 3
    </select>

    <insert id="add">
        insert into t_user(`name`,age,addr)values(#{name},#{age},#{addr})
    </insert>

    <select id="getUser2" resultType="java.lang.String">
        select `name` from `t_order` limit 3
    </select>


    <insert id="addCast">
        insert into t_dict(`name`,type,value)values(#{name},#{type},#{value})
    </insert>



</mapper>







